---
permalink: "/index.html"
type: main
head_content:
    - <link rel="stylesheet" href="/styles/main.css">
    - <noscript><link rel="stylesheet" href="/styles/youtube_embed.css"></noscript>
---

<div id="axisBG"></div>
<div id="wrapper">
    <div id="mainLogoArea"><img src="/media/images/page/logos/logo_0.png" width="256" height="256" alt="logo_0.png"></div>
    <div id="main-intro-text-container" class="content-center content-display-flex">
        <div id="main-intro-text" class="shadow-box text-center">
            Welcome to The Page Between Reality, the hub of all my public projects
            <br><br>
            I most commonly go by the alias of "BetweenReality", or "BR" for short
            <br><br>
            I have a lot of skills, mainly related to the Source Engine. Below you can see some of my work
        </div>
    </div>
    <div id="link_socials_table">
        <a class="link_socials" href="https://github.com/BetweenReality">Github</a>
        <a class="link_socials" href="https://steamcommunity.com/id/BetweenReality/myworkshopfiles">Steam Workshop</a>
        <a class="link_socials" href="https://www.youtube.com/channel/UCmZSzK7eHVIGG7qUH2I74DQ">Youtube</a>
    </div>
    <div class="shadow-box">
        <h1 class="title-centered map-table-title text-color-dark-green-glow">My Work</h1>
        <section class="shadow-box">
            <h1 class="title-centered map-table-title">PMaM Microcomp Season 1</h1>
            <p class="map-table-description text-center">
                Microcomps are small competitions where you are given a one word theme and you must create a scene to fit that theme. Most of the time this means a screenshot of a single angle, however videos are also allowed. Season 1 consisted of 4 competitions over the span of 8 weeks, one every two weeks. For season 1 I made an entry for each competition, somehow managing to win the first 3 and almost winning the last (Beaten only by a video of a train). Below are my entries and how far away my vote counts were relative to the near competitors.
            </p>
            <figure class="map-table-images div-horizontal-align-center">
                <figure class="map-table-image-container">
                    <figcaption>
                        <div class="map-table-image-title">Microcomp 1: Orange</div>
                        <div class="map-table-image-subtitle">* 1st place / 17 (3 vote margin)</div>
                    </figcaption>
                    {% include utils/image_384x216.html src="/pages/source_engine/portal_2/maps/pmam/microcomp/my_entries/pmam_orange_comp_final2.png" alt="pmam_microcomp_orange.png" %}
                </figure>
                <figure class="map-table-image-container">
                    <figcaption>
                        <div class="map-table-image-title">Microcomp 2: Soggy</div>
                        <div class="map-table-image-subtitle">1st place / 7 (10 vote margin)</div>
                    </figcaption>
                    {% include utils/image_384x216.html src="/pages/source_engine/portal_2/maps/pmam/microcomp/my_entries/pmam_soggy_comp_final2.png" alt="pmam_microcomp_soggy.png" %}
                </figure>
                <figure class="map-table-image-container">
                    <figcaption>
                        <div class="map-table-image-title">Microcomp 3: Ancient</div>
                        <div class="map-table-image-subtitle">1st place / 4 (12 vote margin)</div>
                    </figcaption>
                    {% include utils/image_384x216.html src="/pages/source_engine/portal_2/maps/pmam/microcomp/my_entries/pmam_ancient_comp_final2.png" alt="pmam_microcomp_ancient.png" %}
                </figure>
                <figure class="map-table-image-container">
                    <figcaption>
                        <div class="map-table-image-title">Microcomp 4: Winter</div>
                        <div class="map-table-image-subtitle">2nd place / 8 (-4, 5 vote margin)</div>
                    </figcaption>
                    {% include utils/image_384x216.html src="/pages/source_engine/portal_2/maps/pmam/microcomp/my_entries/pmam_winter_comp_final2.png" alt="pmam_microcomp_winter.png" %}
                </figure>
            </figure>
            <p class="map-table-description text-center">
                * Vote margin was minimal enough to warrant a second vote. These were the stats from that vote: 1st place via 31 / 62 votes (13 vote margin)
            </p>
        </section>
        <section class="shadow-box">
            <h1 class="div-horizontal-align-center">
                <a class="no-decoration" href="https://steamcommunity.com/sharedfiles/filedetails/?id=3252271329">[↗]</a>
                <span class="map-table-title">The Cara Discrepancy</span>
            </h1>
            <p class="text-center">Got 2nd place in the 2024 PMaM "Redemption Arc" Competition</p>
            <p class="text-center">My first official map released (for all intents and purposes). Not my best work, especially due to time constraints (and procrastination), but I think the mapping is decent in some areas</p>
            <figure class="map-table-images div-horizontal-align-center">
                {% include utils/image_384x216.html src="/pages/source_engine/portal_2/maps/the_cara_discrepancy/media/images/cara_0.png" %}
                {% include utils/image_384x216.html src="/pages/source_engine/portal_2/maps/the_cara_discrepancy/media/images/cara_1.png" %}
                {% include utils/image_384x216.html src="/pages/source_engine/portal_2/maps/the_cara_discrepancy/media/images/cara_2.png" %}
                {% include utils/image_384x216.html src="/pages/source_engine/portal_2/maps/the_cara_discrepancy/media/images/cara_3.png" %}
                {% include utils/image_384x216.html src="/pages/source_engine/portal_2/maps/the_cara_discrepancy/media/images/cara_4.png" %}
                {% include utils/image_384x216.html src="/pages/source_engine/portal_2/maps/the_cara_discrepancy/media/images/cara_5.png" %}
            </figure>
        </section>
        <section class="shadow-box">
            <h1 class="title-centered map-table-title">The Waiting Room</h1>
            <p class="map-table-description text-center content-center">
                <span>
                    <i>"Follow the journey of a man who waits for eternity to pass by"</i>
                    <br><br>
                    The Waiting Room is a Stanley Parable inspired series of videos that started as a joke but turned into something real. Don't hold your breath for new episodes though because I might take a while
                </span>
            </p>
            <figure class="map-table-images div-horizontal-align-center">
                <figure class="map-table-image-container">
                    <figcaption class="map-table-image-title">
                        <a class="no-decoration" href="https://www.youtube.com/watch?=nXZXJsn3lpI">[↗]</a>
                        <span>Episode 1: Awaiting</span>
                    </figcaption>
                    <!-- Unfortunately Youtube is dumb and requires it's cookies to function in an embed. It also needs javascript but that's obvious. I tried my best to get these embeds as private as possible but I can only do so much. I recommend just turning javascript off entirely if you don't want youtube's cookies following you here -->
                    {% include utils/youtube_embed.html video="nXZXJsn3lpI" %}
                </figure>
                <figure class="map-table-image-container">
                    <figcaption class="map-table-image-title">
                        <a class="no-decoration" href="https://www.youtube.com/watch?=rie2NzhNCso">[↗]</a>
                        <span>Episode 2: Vacant</span>
                    </figcaption>
                    {% include utils/youtube_embed.html video="rie2NzhNCso" %}
                </figure>
                <figure class="map-table-image-container">
                    <figcaption class="map-table-image-title">Episode 3: COMMING SOON</figcaption>
                    <img class="image-border" src="/media/images/placeholder.png" width="384" height="216">
                </figure>
            </figure>
        </section>
        <br><br>
        <div id="todo_bottom">Nothing more to see (yet)</div>
    </div>
</div>