<footer>
    <div id="bottomBar"></div>
    <div id="bottom-text">
        {% comment %} Auto update year so I never have to think about this again (unless I don't update any part of the entire site for an entire year) {% endcomment -%}
        Copyright © {{ site.time | date: "%Y" }} BetweenReality<br>
        Site Last Updated: {{ site.time | date: "%B %d, %Y" }}<br>
        <a href="/pages/about">About</a> • <a href="/pages/contact">Contact</a><br>
        <i>Looks like you've reached the bottom. There is nothing more for you here. Turn back before it is too late...</i>
    </div>
</footer>