<nav id="navMain">
    <div id="nav-links">
        <div id="nav-left">
            <a class="nav-link" href="/">Home</a>
            <!-- <a class="nav-link" href="/pages/resources">Resources</a> -->
        </div>
        <div id="nav-center">
            <a class="nav-link" href="/pages/source_engine/the_stanley_parable/william_map_dump">TSP Beta</a>
        </div>
        <div id="nav-right">
            <a class="nav-link" href="/pages/about">About</a>
            <a class="nav-link" href="/pages/contact">Contact</a>
        </div>
    </div>
    <div id="nav-bar"></div>
</nav>