<!-- NOTE: This gets included in the middle of the document, not in the head -->
<link rel="stylesheet" href="/styles/errors.css">

<!-- Margin must be the same all around for the frame to be centered -->
<!-- <div class="shadow-box" style="margin: 15px 15px 25px 25px"> -->
<div class="shadow-box" style="margin: 25px">
    <h1 class="title-centered text-shadow-green-less">
        This page is Unfinished
    </h1><br>
    <div id="errors_main">
        Cleverly done, Mr. Freeman, but you're not supposed to be here. As a matter of fact, you're not.<br>Get back where you belong, and forget about all this, until we meet again.
    </div>
</div>
<br><br>