{% comment %}
    WORKAROUND: Here we capture all the "page" variables into regular ones since it doesn't look like you can modify them otherwise.
    We include this in all the layout files so that these will always be available for every page 
{% endcomment %}

{% assign page_title = page.title %}
{% assign page_type = page.type %}
{% assign page_subtitle = page.subtitle %}
{% assign page_header_content = page.header_content %}
{% assign page_header_topbar = page.header_topbar %}
{% assign page_header_logo = page.header_logo %}
{% assign page_header_title_link = page.header_title_link %}

{% comment %} Set subtitle the same as title by default {% endcomment %}
{% unless page.subtitle %}{% assign page_subtitle = page.title %}{% endunless %}

{% comment %} Set page type-specific values {% endcomment %}
{% if page_type == "error" %}
    {% unless page.logo %}{% assign page_logo = -1 %}{% endunless %}
    {% capture page_header_content %}<link rel="stylesheet" href="/styles/errors.css">{% endcapture %}
    
{% elsif page_type == "main" %}
    {% unless page.logo %}{% assign page_logo = 0 %}{% endunless %}
    {% comment %}
        TODO: This doesn't work for the logo because there is a default set in _config.yml, meaning we either
          force it to false for the "main" layout, or else we have to manually specify this in each file
        We just always set it here because most likely you want that when using "main" anyways
    {% endcomment %}
    {% comment %} {% unless page.header_logo %}{% assign page_header_logo = false %}{% endunless %} {% endcomment %}
    {% assign page_header_logo = false %}
    {% unless page.header_topbar %}{% assign page_header_topbar = true %}{% endunless %}
    {% unless page.header_title_link %}{% assign page_header_title_link = true %}{% endunless %}

{% elsif page_type == "sub" %}
    {% unless page.logo %}{% assign page_logo = 3 %}{% endunless %}

{% elsif page_type == "special" %}
    {% unless page.logo %}{% assign page_logo = 6 %}{% endunless %}

{% endif %}