{% comment %}
    This is the main layout template used for all pages (even the main page).
    Other layouts likely shouldn't be required, but perhaps there's an edge case I didn't think of
{% endcomment %}

{% comment %} Option to disable default variable stuff, if you need to for some reason {% endcomment %}
{% unless page.no_vars %}
    {% include private/variables.html %}
{% endunless %}

<!DOCTYPE html>
<html lang="en">
    {% include templates/head.html %}
    <body>
        {% include templates/header.html %}
        {% include templates/nav.html %}
        <main>
            {{ content }}
        </main>
        {% include templates/footer.html %}
    </body>
</html>